h1 {
    font-family: montserrat;
    font-size: 80px;
}
h2 {
    font-family: montserrat;
    font-size: 40px;
}
p {
    font-family: oswald;
    font-size: 28px;
    padding-top: 2%;
}
.logo {
    width: 25%;
}
.navbar {
    background-color: #F9E2C7;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: oswald, monospace;
    font-size: 30px;
    color: #513724
}
.nav-link:hover {
    color: #89E0E0;
}
.img {
    width: 85%;
}
.pink-line {
    border: 2px solid #F29EB0;
}
.recipe {
    display: flex;
}
.recipe-page {
    text-decoration: none;
    color: black;
}
.recipe-page:hover {
    color:#F29EB0
}
.recipe-block {
    padding: 2%;
}
.description {
    text-align: center;
}
#footer {
    background-color: white;
    font-size: 25px;
    color: #000000;
}
.fa-solid {
    color: #F29EB0;
}
#address {
    font-family: montserrat, monospace;
    font-size: 25px;
    text-align: center;
}
.black-line {
    width: 25%;
    margin: auto;
    color: #000000
}