h1 {
    font-family: montserrat;
    font-size: 80px;
}
h2 {
    font-family: montserrat;
    font-size: 50px;
    text-align: center;
}
h3 {
    font-family: montserrat;
    font-size: 30px;

}
p {
    font-family: oswald;
    font-size: 28px;
    padding-top: 2%;
}
.logo {
    width: 25%;
}
.navbar {
    background-color: #F9E2C7;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: oswald, monospace;
    font-size: 30px;
    color: #513724
}
.nav-link:hover {
    color: #89E0E0;
}
.img {
    width: 85%;
}
.pink-line {
    border: 2px solid #F29EB0;
}
.recipe {
    display: flex;
}
.recipe-block {
    padding: 2%;
}
.description {
    text-align: center;
}
.label {
    font-family: oswald;
    font-size: 28px;
    padding-left: 10%;
}
.instructions {
    padding: 2%;
    display: flex;
}
.ingredients {
    width: 35%;
}
.method {
    width: 65%;
    padding-left: 2%;
}
.paragraph {
    text-align: justify;
    padding-right: 5%;
}
.hearts {
    font-size: 45px;
    text-align: center;
}
#footer {
    background-color: white;
    font-size: 25px;
    color: #000000;
}
.fa-solid {
    color: #F29EB0;
}
#address {
    font-family: montserrat, monospace;
    font-size: 25px;
    text-align: center;
}
.black-line {
    width: 25%;
    margin: auto;
    color: #000000
}


.stars {
    display: flex;
    font-size: 50px;
  }

.stars.disabled {
    pointer-events: none;
}

.stars a {
    opacity: 20%;
    cursor: pointer;
    padding: 3px;
}

.stars:hover a {
    opacity: 60%;
}

.stars a:hover {
    opacity: 60%;
}

.stars a:hover ~ a {
    opacity: 20%;
}

.stars a.active {
    opacity: 60%;
    text-decoration: none;
}

.align-center {
    /* vertically center. */
    align-items: center;
  }
  
  .justify-center {
    /* horizontally center. */
    justify-content: center;
  }
